/*
 * @Author       : (^_^)
 * @LastEditTime : 2021-05-01 12:22 AM
 */

@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap");

$loading-img-height: 62.5px;
$loading-img-width: 500px;

$text-loading-animation-delay: .15s;
$text-loading-animation-item-size: 5px;
$text-loading-animation-rotate-size: 50px;

$link-color: #2997ff;

:root {
  --ThemeBackgroundColor: #fff;
  --ThemeFontColor: rgba(0, 0, 0, .7);
  --ThemeFontTitleColor: #1d1d1f;
  --ThemeLoadingBackgroundColor: #f5f5f5;
  --ThemeLoadingProspectColor: #666666;
}

body[data-theme="dark"] {
  --ThemeBackgroundColor: #161d22;
  --ThemeFontColor: rgba(240, 246, 252, .8);
  --ThemeFontTitleColor: #fafafa;
  --ThemeLoadingBackgroundColor: #2c2b30;
  --ThemeLoadingProspectColor: #ece5d8;

  .category-title {
    border-top: 1px solid rgba(210, 210, 215, .2) !important;
  }
}

body[data-theme="light"] {
  --ThemeBackgroundColor: #fff;
  --ThemeFontColor: rgba(0, 0, 0, .7);
  --ThemeFontTitleColor: #1d1d1f;
  --ThemeLoadingBackgroundColor: #f5f5f5;
  --ThemeLoadingProspectColor: #666666;
}

@function vw($px) {
  // 移动端vw方案适配
  @return ($px / 375) * 100vw;
}

@mixin img-color($color, $top: 500px) {
  position: absolute;
  left: 0;
  top: $top;
  filter: drop-shadow(0 #{-$top} 0 $color);
}

@supports not (filter: drop-shadow(0 0 0 #fff)) {
  // 如果浏览器不支持filter就使用移动端的动画
  .loading-default {
    display: none !important;
  }

  .loading-mobile {
    display: inline-block !important;
  }
}

[lang]:lang(ar) {
  font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

[lang]:lang(ko) {
  font-family: "SF Pro KR", "SF Pro Text", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

[lang]:lang(ja) {
  font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

[lang]:lang(zh-CN) {
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

[lang]:lang(zh-TW) {
  font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

a {
  transition: color .5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

.wrapper {
  position: position;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--ThemeBackgroundColor);

  .loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background-color: var(--ThemeBackgroundColor);
    opacity: 1;
    overflow-y: hidden;
    transition: all .3s;

    .loading-tips {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 17px;
      font-weight: 600;
      text-align: center;
      font-family: "Roboto", sans-serif;
      color: var(--ThemeFontColor);

      a {
        color: $link-color;
      }
    }

    .loading-default {
      position: absolute;
      left: 50%;
      top: 50%;
      width: $loading-img-width;
      height: $loading-img-height;
      transform: translate(-50%, -50%) scale(.8);
      transition: all .5s;
      overflow: hidden;

      img {
        @include img-color(var(--ThemeLoadingBackgroundColor));
      }

      &::after {
        content: "";
        @include img-color(var(--ThemeLoadingProspectColor));
        width: $loading-img-width;
        height: $loading-img-height;
        background: url("../../imgs/loading-bar.png") no-repeat left 100%;
        background-size: $loading-img-width $loading-img-height;
        background-position-x: 0;
      }
    }

    .loading-mobile {
      display: none;
    }

    @media screen and (max-width: 734px) {
      .loading-default {
        display: none;
      }

      .loading-tips {
        white-space: nowrap;
      }

      @media screen and (orientation: landscape) {

        // 移动端横屏依旧下使用默认Loading并且得小一点
        .loading-default {
          display: block !important;
          transform: translate(-50%, -50%) scale(.7) !important;
        }

        .loading-mobile {
          display: none !important;
        }
      }

      .loading-mobile {
        display: inline-block;
        position: absolute;
        width: 150px;
        height: auto;
        left: 50%;
        top: 50%;
        text-align: center;
        transform: translate(-50%, -50%) scale(1.2);

        .rotate {
          position: relative;
          width: $text-loading-animation-rotate-size;
          height: $text-loading-animation-rotate-size;
          margin: 0 $text-loading-animation-rotate-size;
          padding: 0;
          background-color: transparent;
          transform: scale(1.2);
        }

        .item {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          animation: rotating 4s linear infinite;
        }

        .item::after {
          content: "";
          display: block;
          width: $text-loading-animation-item-size;
          height: $text-loading-animation-item-size;
          border-radius: 50%;
          background-color: rgb(214, 213, 213);
        }

        @for $i from 1 through 5 {
          .item:nth-child(#{$i}) {
            animation-delay: $text-loading-animation-delay * $i;
          }
        }

        h2 {
          display: inline-block;
          margin-top: 80px;
          font-size: 21px;
          font-family: "Roboto", sans-serif;
          color: var(--ThemeFontColor);
        }
      }
    }
  }
}

@keyframes rotating {

  // 移动端loading动画逻辑
  75% {
    transform: rotate(600deg);
  }

  79% {
    transform: rotate(720deg);
    opacity: 1;
  }

  80% {
    transform: rotate(720deg);
    opacity: 0;
  }

  100% {
    transform: rotate(810deg);
    opacity: 0;
  }
}

@keyframes loading-bar {

  // 默认loading动画逻辑
  0% {
    width: 0px;
    background-size: $loading-img-width $loading-img-height;
  }

  16.6% {
    //以此类推,默认匀速运动
  }

  33.2% {}

  49.8% {}

  66.4% {}

  83% {}

  100% {
    width: $loading-img-width - 30; // 因为不知道结束的时间所以需要卡在后面一点
  }
}
