@charset "UTF-8";
/*
 * @Author       : (^_^)
 * @LastEditTime : 2021-05-07 6:12 PM
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap");
:root {
  --ThemeBackgroundColor: #fff;
  --ThemeFontColor: rgba(0, 0, 0, .7);
  --ThemeFontTitleColor: #1d1d1f;
  --ThemeLoadingBackgroundColor: #f5f5f5;
  --ThemeLoadingProspectColor: #666666;
}

body[data-theme="dark"] {
  --ThemeBackgroundColor: #161d22;
  --ThemeFontColor: rgba(240, 246, 252, .8);
  --ThemeFontTitleColor: #fafafa;
  --ThemeLoadingBackgroundColor: #2c2b30;
  --ThemeLoadingProspectColor: #ece5d8;
}

body[data-theme="dark"] .category-title {
  border-top: 1px solid rgba(210, 210, 215, 0.2) !important;
}

body[data-theme="light"] {
  --ThemeBackgroundColor: #fff;
  --ThemeFontColor: rgba(0, 0, 0, .7);
  --ThemeFontTitleColor: #1d1d1f;
  --ThemeLoadingBackgroundColor: #f5f5f5;
  --ThemeLoadingProspectColor: #666666;
}

[lang]:lang(ar) {
  font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

[lang]:lang(ko) {
  font-family: "SF Pro KR", "SF Pro Text", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

[lang]:lang(ja) {
  font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

[lang]:lang(zh-CN) {
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

[lang]:lang(zh-TW) {
  font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

a {
  -webkit-transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

::-moz-selection {
  color: inherit;
  background: inherit;
}

::selection {
  color: inherit;
  background: inherit;
}

html {
  cursor: none;
}

.wrapper {
  position: position;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--ThemeBackgroundColor);
  -webkit-transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

.wrapper .loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background-color: var(--ThemeBackgroundColor);
  opacity: 1;
  overflow-y: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper .loading .loading-tips {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 17px;
  opacity: .7;
  font-weight: 600;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: var(--ThemeFontColor);
}

.wrapper .loading .loading-tips:hover {
  opacity: 1;
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

.wrapper .loading .loading-default {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 62.5px;
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
  -webkit-transition: all .5s;
  transition: all .5s;
  overflow: hidden;
}

.wrapper .loading .loading-default img {
  position: absolute;
  left: 0;
  top: 500px;
  -webkit-filter: drop-shadow(0 -500px 0 var(--ThemeLoadingBackgroundColor));
          filter: drop-shadow(0 -500px 0 var(--ThemeLoadingBackgroundColor));
}

.wrapper .loading .loading-default::after {
  content: "";
  position: absolute;
  left: 0;
  top: 500px;
  -webkit-filter: drop-shadow(0 -500px 0 var(--ThemeLoadingProspectColor));
          filter: drop-shadow(0 -500px 0 var(--ThemeLoadingProspectColor));
  width: 500px;
  height: 62.5px;
  background: url("../../imgs/loading-bar.png") no-repeat left 100%;
  background-size: 500px 62.5px;
  background-position-x: 0;
}

.wrapper .loading .loading-mobile {
  display: none;
}

@media screen and (max-width: 734px) {
  .wrapper .loading .loading-default {
    display: none;
  }
  .wrapper .loading .loading-tips {
    font-size: 14px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 734px) and (orientation: landscape) {
  .wrapper .loading .loading-default {
    display: block !important;
    -webkit-transform: translate(-50%, -50%) scale(0.7) !important;
            transform: translate(-50%, -50%) scale(0.7) !important;
  }
  .wrapper .loading .loading-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 734px) {
  .wrapper .loading .loading-mobile {
    display: inline-block;
    position: absolute;
    width: 150px;
    height: auto;
    left: 50%;
    top: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  .wrapper .loading .loading-mobile .rotate {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 50px;
    padding: 0;
    background-color: transparent;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .wrapper .loading .loading-mobile .item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-animation: rotating 4s linear infinite;
            animation: rotating 4s linear infinite;
  }
  .wrapper .loading .loading-mobile .item::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #d6d5d5;
  }
  .wrapper .loading .loading-mobile .item:nth-child(1) {
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
  }
  .wrapper .loading .loading-mobile .item:nth-child(2) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .wrapper .loading .loading-mobile .item:nth-child(3) {
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
  }
  .wrapper .loading .loading-mobile .item:nth-child(4) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .wrapper .loading .loading-mobile .item:nth-child(5) {
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
  }
  .wrapper .loading .loading-mobile h2 {
    display: inline-block;
    margin-top: 80px;
    font-size: 21px;
    font-family: "Roboto", sans-serif;
    color: var(--ThemeFontColor);
  }
}

@supports not ((-webkit-filter: drop-shadow(0 0 0 #fff)) or (filter: drop-shadow(0 0 0 #fff))) {
  .loading-default {
    display: none !important;
  }
  .loading-mobile {
    display: inline-block !important;
  }
}

@-webkit-keyframes rotating {
  75% {
    -webkit-transform: rotate(600deg);
            transform: rotate(600deg);
  }
  79% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(810deg);
            transform: rotate(810deg);
    opacity: 0;
  }
}

@keyframes rotating {
  75% {
    -webkit-transform: rotate(600deg);
            transform: rotate(600deg);
  }
  79% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(810deg);
            transform: rotate(810deg);
    opacity: 0;
  }
}

@-webkit-keyframes loading-bar {
  0% {
    width: 0px;
    background-size: 500px 62.5px;
  }
  16.6% {
  }
  33.2% {
  }
  49.8% {
  }
  66.4% {
  }
  83% {
  }
  100% {
    width: 470px;
  }
}

@keyframes loading-bar {
  0% {
    width: 0px;
    background-size: 500px 62.5px;
  }
  16.6% {
  }
  33.2% {
  }
  49.8% {
  }
  66.4% {
  }
  83% {
  }
  100% {
    width: 470px;
  }
}
