@charset "UTF-8";
/*
 * @Author       : (^_^)
 * @LastEditTime : 2021-04-30 1:51 PM
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap");
:root {
  --ThemeBackgroundColor: #fff;
  --ThemeFontColor: rgba(0, 0, 0, .7);
  --ThemeFontTitleColor: #1d1d1f;
  --ThemeBorder: 1px solid #d2d2d7;
  --ThemeLoadingBackgroundColor: #f5f5f5;
  --ThemeLoadingProspectColor: #666666;
}

body[data-theme="dark"] {
  --ThemeBackgroundColor: #161d22;
  --ThemeFontColor: rgba(240, 246, 252, .8);
  --ThemeFontTitleColor: #fafafa;
  --ThemeBorder: 1px solid #040638;
  --ThemeLoadingBackgroundColor: #2c2b30;
  --ThemeLoadingProspectColor: #ece5d8;
}

body[data-theme="light"] {
  --ThemeBackgroundColor: #fff;
  --ThemeFontColor: rgba(0, 0, 0, .7);
  --ThemeFontTitleColor: #1d1d1f;
  --ThemeBorder: 1px solid #D6D6D6;
  --ThemeLoadingBackgroundColor: #f5f5f5;
  --ThemeLoadingProspectColor: #666666;
}

@supports not ((-webkit-filter: drop-shadow(0 0 0 #fff)) or (filter: drop-shadow(0 0 0 #fff))) {
  .loading-default {
    display: none !important;
  }
  .loading-mobile {
    display: inline-block !important;
  }
}

[lang]:lang(ar) {
  font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

[lang]:lang(ko) {
  font-family: "SF Pro KR", "SF Pro Text", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

[lang]:lang(ja) {
  font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

[lang]:lang(zh-CN) {
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

[lang]:lang(zh-TW) {
  font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

a {
  -webkit-transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
  margin-top: 12.8px;
}

.cover {
  max-width: 980px;
}

.wrapper {
  position: position;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--ThemeBackgroundColor);
}

.wrapper .loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background-color: var(--ThemeBackgroundColor);
  opacity: 1;
  overflow-y: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper .loading .loading-tips {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: var(--ThemeFontColor);
}

.wrapper .loading .loading-tips a {
  color: #2997ff;
}

.wrapper .loading .loading-default {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 62.5px;
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
  -webkit-transition: all .5s;
  transition: all .5s;
  overflow: hidden;
}

.wrapper .loading .loading-default img {
  position: absolute;
  left: 0;
  top: 500px;
  -webkit-filter: drop-shadow(0 -500px 0 var(--ThemeLoadingBackgroundColor));
          filter: drop-shadow(0 -500px 0 var(--ThemeLoadingBackgroundColor));
}

.wrapper .loading .loading-default::after {
  content: "";
  position: absolute;
  left: 0;
  top: 500px;
  -webkit-filter: drop-shadow(0 -500px 0 var(--ThemeLoadingProspectColor));
          filter: drop-shadow(0 -500px 0 var(--ThemeLoadingProspectColor));
  width: 500px;
  height: 62.5px;
  background: url("../../imgs/loading-bar.png") no-repeat left 100%;
  background-size: 500px 62.5px;
  background-position-x: 0;
}

.wrapper .loading .loading-mobile {
  display: none;
}

@media screen and (max-width: 734px) {
  .wrapper .loading .loading-default {
    display: none;
  }
  .wrapper .loading .loading-tips {
    white-space: nowrap;
  }
}

@media screen and (max-width: 734px) and (orientation: landscape) {
  .wrapper .loading .loading-default {
    display: block !important;
    -webkit-transform: translate(-50%, -50%) scale(0.7) !important;
            transform: translate(-50%, -50%) scale(0.7) !important;
  }
  .wrapper .loading .loading-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 734px) {
  .wrapper .loading .loading-mobile {
    display: inline-block;
    position: absolute;
    width: 150px;
    height: auto;
    left: 50%;
    top: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  .wrapper .loading .loading-mobile .rotate {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 50px;
    padding: 0;
    background-color: transparent;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .wrapper .loading .loading-mobile .item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-animation: rotating 4s linear infinite;
            animation: rotating 4s linear infinite;
  }
  .wrapper .loading .loading-mobile .item::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #d6d5d5;
  }
  .wrapper .loading .loading-mobile .item:nth-child(1) {
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
  }
  .wrapper .loading .loading-mobile .item:nth-child(2) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .wrapper .loading .loading-mobile .item:nth-child(3) {
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
  }
  .wrapper .loading .loading-mobile .item:nth-child(4) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .wrapper .loading .loading-mobile .item:nth-child(5) {
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
  }
  .wrapper .loading .loading-mobile h2 {
    display: inline-block;
    margin-top: 80px;
    font-size: 21px;
    font-family: "Roboto", sans-serif;
    color: var(--ThemeFontColor);
  }
}

@supports ((-webkit-backdrop-filter: saturate(180%) blur(20px)) or (backdrop-filter: saturate(180%) blur(20px))) {
  .wrapper header {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
  }
}

.wrapper header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(var(--ThemeBackgroundColor), 0.7);
  -webkit-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper header #checkbox-menustate,
.wrapper header .menuanchor-open,
.wrapper header .menuanchor-close {
  display: none;
}

@media screen and (max-width: 767px) {
  .wrapper header .header-container {
    padding: 0 11px !important;
  }
  .wrapper header #checkbox-menustate:checked ~ .topnav > .topnav-container > .menuicon-top .line-first {
    -webkit-transform: rotate(45deg) translate3d(6px, 6px, 0);
            transform: rotate(45deg) translate3d(6px, 6px, 0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .wrapper header #checkbox-menustate:checked ~ .topnav > .topnav-container > .menuicon-top .line-second {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
  }
  .wrapper header #checkbox-menustate:checked ~ .topnav > .topnav-container > .menuicon-top .line-third {
    -webkit-transform: rotate(-45deg) translate3d(7px, -7px, 0);
            transform: rotate(-45deg) translate3d(7px, -7px, 0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .wrapper header .topnav {
    width: 100%;
    height: 54px !important;
  }
  .wrapper header .topnav .topnav-container {
    display: block !important;
  }
  .wrapper header .topnav .topnav-container .menuicon-top {
    z-index: 9999;
    cursor: pointer;
    position: absolute;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 54px;
    height: 54px;
    opacity: .8;
    background-color: none;
    transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }
  .wrapper header .topnav .topnav-container .menuicon-top span {
    display: inline-block;
    width: 22px;
    height: 2px;
    background: var(--ThemeFontColor);
    border-radius: .5px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
  }
  .wrapper header .topnav .topnav-container .menuicon-top .line-second {
    margin: 7px 0;
  }
  .wrapper header .topnav .topnav-container .menuicon-top:target,
  .wrapper header .topnav .topnav-container .menuicon-top:hover {
    opacity: 1;
  }
  .wrapper header .topnav .topnav-container .logo {
    width: 100%;
    text-align: center;
    line-height: 54px !important;
  }
  .wrapper header .topnav .topnav-container .topnav-list {
    display: none !important;
  }
}

.wrapper header .header-container {
  margin: 0 auto;
  padding: 0 22px;
  position: relative;
}

.wrapper header .header-container .topnav {
  width: 100%;
  height: 64px;
}

.wrapper header .header-container .topnav .topnav-container {
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  height: 100%;
}

.wrapper header .header-container .topnav .topnav-container .menuicon-top {
  display: none;
}

.wrapper header .header-container .topnav .topnav-container .logo {
  color: var(--ThemeFontTitleColor);
  font-size: 21px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: .011em;
  font-family: "Roboto", sans-serif;
  line-height: 64px;
  -webkit-transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

.wrapper header .header-container .topnav .topnav-container .topnav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-width: 234px;
  height: 100%;
  text-align: right;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.25, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.25, 1);
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-delay: 0, .4s;
          transition-delay: 0, .4s;
}

.wrapper header .header-container .topnav .topnav-container .topnav-list .topnav-list-item {
  cursor: pointer;
  display: inline-block;
  margin-left: 30px;
  padding: 0 10px 0;
  line-height: 64px;
  text-align: right;
  color: var(--ThemeFontColor);
  background-color: transparent !important;
  -webkit-transition: opacity 500ms ease-in 200ms;
  transition: opacity 500ms ease-in 200ms;
}

.wrapper header .header-container .topnav .topnav-container .topnav-list .topnav-list-item > ul {
  position: absolute;
  top: -500px;
  right: 2%;
  width: 140px;
  opacity: 0;
  max-height: 160px;
  height: auto;
  background-color: var(--ThemeBackgroundColor);
  padding: 10px 0;
  border: var(--ThemeBorder);
  text-align: left;
  border-radius: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
  white-space: nowrap;
  background-color: var(--ThemeBackgroundColor);
  overflow-y: auto;
  overflow: hidden;
}

.wrapper header .header-container .topnav .topnav-container .topnav-list .topnav-list-item > ul > li {
  width: 100%;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  line-height: 2em;
  width: 100%;
  padding: 0 18px 0 18px;
  color: --var(--ThemeFontColor);
}

.wrapper header .header-container .topnav .topnav-container .topnav-list .topnav-list-item > ul > li > a {
  display: inline-block;
  width: calc(100% - 36px);
}

.wrapper header .header-container .topnav .topnav-container .topnav-list .topnav-list-item > ul > li:hover > a {
  color: #2997ff;
  font-weight: 500;
}

.wrapper header .header-container .topnav .topnav-container .topnav-list .topnav-list-item a {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: inherit;
}

.wrapper header .header-container .topnav .topnav-container .topnav-list .topnav-list-item a.arrow::after {
  display: inline-block;
  content: '';
  width: 11px;
  height: 6px;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask: url("../../imgs/chevron-dn.svg");
          mask: url("../../imgs/chevron-dn.svg");
  background-color: var(--ThemeFontColor);
  margin-left: 6px;
  margin-bottom: 3px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.wrapper header .header-container .topnav .topnav-container .topnav-list .topnav-list-item:hover > a {
  color: #2997ff;
}

.wrapper header .header-container .topnav .topnav-container .topnav-list .topnav-list-item:hover > a::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: #2997ff;
}

.wrapper header .header-container .topnav .topnav-container .topnav-list .topnav-list-item:hover > ul {
  top: 100%;
  opacity: 1;
}

.wrapper main {
  width: 100%;
  margin: 64px auto 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 767px) {
  .wrapper main nav > .content {
    padding: 0 16px;
    max-width: 980px;
  }
  .wrapper main nav > .content h2 {
    text-align: left;
  }
  .wrapper main nav > .content h2 a {
    font-size: 19px !important;
    line-height: 2.84286 !important;
    letter-spacing: .012em !important;
  }
}

@media screen and (max-width: 1044) {
  .wrapper main nav {
    min-width: 320px !important;
  }
}

.wrapper main nav {
  position: relative;
  top: 0px;
  width: 100%;
  height: 52px;
}

.wrapper main nav::after {
  margin-left: -490px;
  left: 50%;
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  width: 980px;
  height: 1px;
  z-index: 1;
  opacity: .17;
  background-color: var(--ThemeFontColor);
}

.wrapper main nav .content {
  max-width: 980px;
  min-width: 320px;
  padding: 0 22px;
  height: 100%;
  margin: 0 auto;
  opacity: 1;
}

.wrapper main nav .content h2 a {
  font-size: 21px;
  line-height: 2.14286;
  font-weight: 700;
  letter-spacing: .011em;
  font-family: "Roboto", sans-serif;
  color: var(--ThemeFontColor);
  margin: 14px 0 -14px;
  -webkit-transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

.wrapper main .main-container {
  width: 980px;
  margin: 0 auto;
}

@media only screen and (max-width: 734px) {
  .wrapper main .main-container .section-container {
    margin-top: 10px !important;
    margin-bottom: 9px !important;
  }
}

.wrapper main .main-container .section-container {
  margin-top: 35px;
  margin-bottom: 22px;
}

.wrapper main .main-container .section-container .section-content:first-child > h2 {
  border-top: none !important;
}

.wrapper main .main-container .section-container .section-content h2 {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: .004em;
  color: var(--ThemeFontColor);
  font-family: "Robot", sans-serif;
  border-top: 1px solid #d2d2d7;
  display: block;
  padding: 30px 0 20px 0;
}

@media only screen and (max-width: 1068px) {
  .wrapper main .main-container .section-container .section-content h2 {
    font-size: 28px !important;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .007em;
  }
}

@media only screen and (max-width: 734px) {
  .wrapper main .main-container .section-container .section-content ul {
    -webkit-column-count: 1 !important;
            column-count: 1 !important;
  }
}

.wrapper main .main-container .section-container .section-content ul {
  -webkit-columns: 3 auto;
          columns: 3 auto;
  margin: 10px 0 0;
  padding-bottom: 25px;
  margin-bottom: 26px;
}

.wrapper main .main-container .section-container .section-content ul li {
  padding-bottom: 7px;
  padding-right: 40px;
}

.wrapper main .main-container .section-container .section-content ul li a {
  color: #06c;
  font-family: "Roboto", sans-serif;
  letter-spacing: inherit;
}

.wrapper main .main-container .section-container .section-content ul li a span {
  color: inherit;
  font-family: inherit;
}

.wrapper main .main-container .section-container .section-content ul li a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1068px) {
  .wrapper main .main-container {
    width: 692px;
  }
}

@media only screen and (max-width: 734px) {
  .wrapper main .main-container {
    width: 87.5%;
  }
}

.slide-fade-enter-active {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  -webkit-transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
}

@-webkit-keyframes rotating {
  75% {
    -webkit-transform: rotate(600deg);
            transform: rotate(600deg);
  }
  79% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(810deg);
            transform: rotate(810deg);
    opacity: 0;
  }
}

@keyframes rotating {
  75% {
    -webkit-transform: rotate(600deg);
            transform: rotate(600deg);
  }
  79% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(810deg);
            transform: rotate(810deg);
    opacity: 0;
  }
}

@-webkit-keyframes loading-bar {
  0% {
    width: 0px;
    background-size: 500px 62.5px;
  }
  16.6% {
  }
  33.2% {
  }
  49.8% {
  }
  66.4% {
  }
  83% {
  }
  100% {
    width: 470px;
  }
}

@keyframes loading-bar {
  0% {
    width: 0px;
    background-size: 500px 62.5px;
  }
  16.6% {
  }
  33.2% {
  }
  49.8% {
  }
  66.4% {
  }
  83% {
  }
  100% {
    width: 470px;
  }
}
/*# sourceMappingURL=loading.css.map */