/*
 * @Author       : Jia Zeng
 * @LastEditTime : 2021-05-03 12:25 PM
 */

@charset "utf-8";

$link-color: #2997ff;
$topnav-height: 64px;

:root {
  --ThemeBackgroundColor: #fff;
  --ThemeFontColor: rgba(0, 0, 0, .7);
  --ThemeFontTitleColor: #1d1d1f;
  --ThemeBorder: rgba(0, 0, 0, .16);
  --ThemeFooterFontColor: #1d1d1f;
}

body[data-theme="dark"] {
  --ThemeBackgroundColor: #161d22;
  --ThemeFontColor: rgba(240, 246, 252, .8);
  --ThemeFontTitleColor: rgb(240, 246, 252);
  --ThemeBorder: rgba(210, 210, 215, .2);
  --ThemeFooterFontColor: #f5f5f7;

  ::-webkit-scrollbar {
    background-color: var(--ThemeBackgroundColor);
  }
}

body[data-theme="light"] {
  --ThemeBackgroundColor: #fff;
  --ThemeFontColor: rgba(0, 0, 0, .7);
  --ThemeFontTitleColor: #1d1d1f;
  --ThemeBorder: rgba(0, 0, 0, .16);
  --ThemeFooterFontColor: #1d1d1f;
}

@function vw($px) {
  @return ($px / 375) * 100vw;
}

[lang]:lang(ar) {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

[lang]:lang(ko) {
  font-family: "HY Gulim", "MalgunGothic", "HY Dotum",
    "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

[lang]:lang(ja) {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

[lang]:lang(zh-CN) {
  font-family: "Roboto", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

[lang]:lang(zh-TW) {
  font-family: "Noto Sans TC", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

:lang(cs) {
  quotes: "â€ž""â€œ"
}

:lang(de) {
  quotes: "â€ž""â€œ"
}

:lang(de-CH) {
  quotes: "Â«Â ""Â Â»"
}

:lang(fr) {
  quotes: "Â«Â ""Â Â»"
}

:lang(es-ES) {
  quotes: "Â«""Â»"
}

:lang(hu) {
  quotes: "â€ž""â€œ"
}

:lang(ja-JP) {
  quotes: "ã€Œ""ã€"
}

:lang(no-NO) {
  quotes: "Â«""Â»"
}

:lang(pl) {
  quotes: "â€ž""â€œ"
}

:lang(ru) {
  quotes: "Â« "" Â»"
}

:lang(zh) {
  quotes: "ã€Œ""ã€"
}

:lang(zh-CN) {
  quotes: "â€œ""â€"
}

:lang(ja),
:lang(ko),
:lang(th),
:lang(zh) {
  font-style: normal;
}

:lang(ko) {
  word-break: break-all;
}

a {
  transition: color .5s cubic-bezier(.28, .11, .32, 1);
}

.cover {
  max-width: 980px;
}

html {
  text-size-adjust: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--ThemeBackgroundColor);
  overflow-x: hidden;
}

header {
  width: 100%;
  height: auto;

  .header-container {
    display: block;
    box-sizing: border-box;
  }
}

.topnav {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $topnav-height;
  background-color: transparent;
  transition: background-color .5s cubic-bezier(.28, .11, .32, 1);
  transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;

  @supports ((-webkit-backdrop-filter: saturate(180%) blur(20px)) or (backdrop-filter: saturate(180%) blur(20px))) {
    & {
      backdrop-filter: saturate(180%) blur(20px);
    }
  }

  .topnav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
    padding: 0 22px;

    .logo {
      font-size: 21px;
      line-height: 1.14286;
      font-weight: 600;
      letter-spacing: .011em;
      color: var(--ThemeFontTitleColor);
      font-family: "Roboto", sans-serif;
      line-height: $topnav-height;
      transition: color .5s cubic-bezier(.28, .11, .32, 1);
    }
  }
}

.topnav-list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: flex-end;
  min-width: 234px;
  height: 100%;
  text-align: right;
  transition-property: height, visibility;
  transition-timing-function: cubic-bezier(.4, 0, .25, 1);
  transition-duration: .4s;
  transition-delay: 0, .4s;

  .topnav-list-item {
    z-index: 9999;
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
    padding: 0 10px 0;
    text-align: right;
    line-height: $topnav-height;
    color: var(--ThemeFontColor);
    background-color: transparent;
    transition: opacity 500ms ease-in 200ms;

    a {
      font-size: 17px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      color: inherit;

      &.arrow::after {
        display: inline-block;
        content: "";
        width: 11px;
        height: 6px;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask: url("../../imgs/chevron-dn.svg");
        background-color: var(--ThemeFontColor);
        margin-left: 6px;
        margin-bottom: 3px;
        transition: all .3s ease;
      }
    }

    &:hover>a {
      color: $link-color;
    }

    &:hover>.arrow::after {
      transform: rotate(180deg);
      background-color: $link-color;
    }

    &:hover>select {
      top: 100%;
      opacity: 1;
    }

    &>select {
      z-index: 8888;
      position: absolute;
      top: -100%;
      margin-left: -120px;
      width: 140px;
      max-height: 160px;
      height: auto;
      padding: 10px 0;
      opacity: 0;
      border-radius: 4px;
      border: 1px solid var(--ThemeBorder);
      background-color: var(--ThemeBackgroundColor);
      transition: all .3s;

      &>option {
        width: 100%;
        height: 28px;
        font-size: 17px;
        line-height: 28px;
        text-align: left;
        padding: 0 18px 0 18px;
        color: var(--ThemeFontColor);
        font-family: "Roboto"sans-serif;
        appearance: none;
        vertical-align: text-top;
        width: calc(100% - 36px);
        transition: all .3s;

        &:hover {
          color: $link-color;
          font-weight: 500;
        }


        &:checked:disabled {
          color: $link-color !important;
        }

      }
    }

    &:hover>select {
      top: 100%;
      opacity: 1;
    }
  }
}

.subhead {
  z-index: auto;
  position: relative;
  top: 0px;
  width: 100%;
  min-width: 1024px;
  height: 52px;
  margin-top: $topnav-height;
  background-color: var(--ThemeBackgroundColor);

  &::after {
    display: block;
    position: absolute;
    margin-left: -490px;
    left: 50%;
    content: "";
    top: 100%;
    width: 980px;
    height: 1px;
    z-index: 999999;
    background-color: var(--ThemeBorder);
  }

  .subhead-container {
    max-width: 980px;
    min-width: 320px;
    height: 100%;
    margin: 0 auto;
    padding: 0 22px;

    h2 {
      display: inline-block;
    }

    h2>a {
      font-size: 21px;
      line-height: 2.14286;
      font-weight: 700;
      letter-spacing: .011em;
      font-family: "Roboto", sans-serif;
      color: var(--ThemeFontColor);
      margin: 14px 0 -14px;
      transition: color .5s cubic-bezier(.28, .11, .32, 1);
    }
  }
}

main,
footer {
  width: 100%;
  //margin: $topnav-height auto 0 auto;
  background-color: var(--ThemeBackgroundColor);
  overflow-y: auto;
  overflow-x: hidden;

  .main-container,
  .footer-container {
    width: 980px;
    margin: 0 auto;
  }
}

.section-container {
  margin-top: 35px;
  margin-bottom: 22px;

  .section-content:first-child>h2 {
    border-top: none !important;
  }

  .section-content {

    h1+*,
    h2+*,
    h3+*,
    h4+*,
    h5+*,
    h6+* {
      margin-top: 12px;
    }

    h2 {
      font-size: 32px;
      line-height: 1.125;
      font-weight: 600;
      letter-spacing: .004em;
      color: var(--ThemeFontColor);
      font-family: "Robot", sans-serif;
      border-top: 1px solid var(--ThemeBorder);
      display: block;
      padding: 30px 0 20px 0;
    }

    ul {
      columns: 3 auto;
      margin: 10px 0 0;
      padding-bottom: 25px;
      margin-bottom: 26px;

      li {
        padding-bottom: 7px;
        padding-right: 40px;

        a {
          color: #06c;
          font-family: "Roboto", sans-serif;
          letter-spacing: inherit;

          span {
            color: inherit;
            font-family: inherit;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.footer-content {
  padding: 16px 20px;
  border-top: 1px solid var(--ThemeBorder);
  color: var(--ThemeFooterFontColor);
  font-size: 12px;
  line-height: 1.33337;
  text-align: center;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "Roboto", sans-serif;
  ul>li>a{
    opacity: .8;
    &:hover{
      opacity: 1;
    }
  }
}

.checkbox-menustate,
.menuanchor-open,
.menuanchor-close,
.menuicon-top {
  display: none;
}

@media screen and (max-width: 767px) {
  $topnav-height: 54px;

  .topnav {
    height: $topnav-height !important;
  }

  .topnav-container {
    display: block;
    padding: 0 11px;

    .logo {
      width: 100%;
      text-align: center;
      line-height: $topnav-height !important;
    }

    .topnav-list {
      display: none;
    }
  }

  .menuicon-top {
    cursor: pointer;
    position: absolute;
    left: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $topnav-height;
    height: $topnav-height;
    opacity: .8;
    background-color: inherit;
    transition: transform .1806s cubic-bezier(.04, .04, .12, .96);

    span {
      display: inline-block;
      width: 22px;
      height: 2px;
      background: var(--ThemeFontColor);
      border-radius: .5px;
      transition: all .3s ease-out;
    }

    .line-second {
      margin: 7px 0;
    }

    &:target,
    &:hover {
      opacity: 1;
    }
  }

  .checkbox-menustate:checked~.topnav>.topnav-container>.menuicon-top {
    .line-first {
      transform: rotate(45deg) translate3d(6px, 6px, 0);
      transform-origin: center;
    }

    .line-second {
      transform: scale3d(0, 1, 1);
    }

    .line-third {
      transform: rotate(-45deg) translate3d(7px, -7px, 0);
      transform-origin: center;
    }
  }

  .subhead-container {
    padding: 0 16px !important;
    max-width: 980px !important;

    h2>a {
      font-size: 19px !important;
      line-height: 2.84286 !important;
      letter-spacing: .012em !important;
    }
  }

  .section-container {
    margin-top: 10px !important;
    margin-bottom: 9px !important;
  }

  .section-content {
    h2 {
      font-size: 24px !important;
      line-height: 1.16667 !important;
      letter-spacing: .009em !important;
    }

    ul {
      column-count: 1 !important;
    }
  }
}

@media only screen and (max-width: 1068px) {

  .main-container,
  .footer-container {
    width: 692px !important;
  }

  .section-content>h2 {
    font-size: 28px;
    line-height: 1.14286t;
    font-weight: 600;
    letter-spacing: .007em;
  }

  .subhead {
    min-width: 320px;

    &::after {
      margin-left: 0;
      left: 0;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 734px) {

  .main-container,
  .footer-container {
    width: 87.5% !important;
  }
}
