@charset "UTF-8";
@media screen and (max-width: 600px) {
  .prompt-inner {
    width: 90% !important;
    left: 5% !important;
  }
}

.prompt {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.prompt .prompt-mask {
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
}

.prompt .prompt-hide {
  -webkit-transform: rotate3d(1, 1, 0, 90deg) !important;
          transform: rotate3d(1, 1, 0, 90deg) !important;
  opacity: 0;
}

.prompt .prompt-show {
  opacity: 1;
}

.prompt .prompt-close-btn-hover {
  -webkit-transform: rotate3d(1, 1, 0, 7deg);
          transform: rotate3d(1, 1, 0, 7deg);
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.prompt .prompt-inner {
  display: block;
  position: absolute;
  z-index: 9999999999999999999999;
  width: 600px;
  height: 500px;
  top: calc(50% - 250px);
  left: calc(50% - 300px);
  background-color: #fafafa;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.prompt .prompt-inner .prompt-close-btn {
  z-index: inherit;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.prompt .prompt-inner .prompt-close-btn:hover > .prompt-close-icon::before,
.prompt .prompt-inner .prompt-close-btn:hover > .prompt-close-icon::after {
  background-color: #52c41a;
}

.prompt .prompt-inner .prompt-close-btn .prompt-close-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.prompt .prompt-inner .prompt-close-btn .prompt-close-icon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.prompt .prompt-inner .prompt-close-btn .prompt-close-icon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.prompt .prompt-inner .prompt-close-btn .prompt-close-icon::before, .prompt .prompt-inner .prompt-close-btn .prompt-close-icon::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background-color: #b4b4b4;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.prompt .prompt-inner .prompt-title {
  position: relative;
  top: 60px;
  left: calc(50% - 117.5px);
  width: 235px;
  text-align: center;
  font-size: 1.52em;
  color: rgba(0, 0, 0, 0.65);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  height: 55px;
  line-height: 55px;
}

.prompt .prompt-inner .prompt-content,
.prompt .prompt-inner .prompt-title {
  position: relative;
  width: 80%;
  left: 10%;
  top: 65px;
  text-align: center;
}

.prompt .prompt-inner .prompt-content, .prompt .prompt-inner p {
  display: block;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-transform-origin: 50% -50%;
          transform-origin: 50% -50%;
  font-family: "Microsoft Yahei",sans-serif;
}

.prompt .prompt-inner .prompt-content .prompt-content-version,
.prompt .prompt-inner .prompt-content .prompt-content-about, .prompt .prompt-inner p .prompt-content-version,
.prompt .prompt-inner p .prompt-content-about {
  -webkit-transform-origin: 50% -50%;
          transform-origin: 50% -50%;
  color: rgba(0, 0, 0, 0.45);
}

.prompt .prompt-inner .prompt-content .prompt-content-version, .prompt .prompt-inner p .prompt-content-version {
  color: rgba(0, 0, 0, 0.45);
  font-size: 11px;
}

.prompt .prompt-inner .prompt-content .prompt-content-about, .prompt .prompt-inner p .prompt-content-about {
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
}

.prompt .prompt-inner .prompt-content-main.left {
  height: 350px !important;
}

.prompt .prompt-inner .prompt-content-main {
  z-index: 99999;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  text-align: left;
  width: 100%;
  height: 220px;
  margin: 0 auto;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 18px;
  overflow-y: auto;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.prompt .prompt-inner .prompt-content-main::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.prompt .prompt-inner .prompt-content-main::-webkit-scrollbar-corner {
  background: none;
}

.prompt .prompt-inner .prompt-content-main::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border: 3px solid transparent;
  background-clip: padding-box;
  border-radius: 5px;
}

.prompt .prompt-inner .prompt-content-main::-webkit-scrollbar-track {
  opacity: 0;
}

.prompt .prompt-inner .prompt-content-main::-webkit-scrollbar-thumb:hover {
  background-color: #686868;
  outline-offset: -1px;
}

.prompt .prompt-inner .prompt-content-main .prompt-content-main-lastedittime > time {
  background: transparent;
}

.prompt .prompt-inner .prompt-content-main ul {
  width: 100%;
}

.prompt .prompt-inner .prompt-content-main ul > li {
  cursor: pointer;
  width: 100%;
  padding: 10px 18px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(22, 22, 22, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.prompt .prompt-inner .prompt-content-main ul > li a {
  position: absolute;
  display: inline-block;
  left: 105px;
  width: calc(100% - 105px);
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .prompt .prompt-inner .prompt-content-main ul > li a {
    left: 95px;
  }
}

.prompt .prompt-inner .prompt-content-main ul > li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.prompt .prompt-inner .prompt-content-main .update-tag {
  position: relative;
  padding: 0 3px;
  margin-left: 12px;
  margin-right: 5px;
  border-radius: 2px;
  color: white;
}

.prompt .prompt-inner .prompt-content-main .update-tag.optimize {
  background-color: #c5a88b;
}

.prompt .prompt-inner .prompt-content-main .update-tag.optimize::after {
  content: '修正';
}

.prompt .prompt-inner .prompt-content-main .update-tag.add {
  background-color: #80b43c;
}

.prompt .prompt-inner .prompt-content-main .update-tag.add::after {
  content: '新たに';
}

.prompt .prompt-inner .prompt-content-main .update-tag.improve {
  background-color: #9bc5c8;
}

.prompt .prompt-inner .prompt-content-main .update-tag.improve::after {
  content: '改进';
}

.prompt .prompt-inner .prompt-content-main .update-log {
  color: rgba(0, 0, 0, 0.65);
  line-height: 22px;
  text-align: left;
}

.prompt .prompt-inner .expanded {
  -webkit-transform: scale(0.8) translateY(-50px);
          transform: scale(0.8) translateY(-50px);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
