@charset "utf-8";

$primary-color: #1890ff; // 全局主色
$link-color: #1890ff; // 链接色
$success-color: #52c41a; // 成功色
$warning-color: #faad14; // 警告色
$error-color: #f5222d; // 错误色
$font-size-base: 1.52em; // 主字号
$text-color: rgba(0, 0, 0, 0.65); // 主文本色
$text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
$disabled-color: rgba(0, 0, 0, 0.25); // 失效色
$border-radius-base: 20px; // 组件/浮层圆角
$border-color-base: #d9d9d9; // 边框色
$box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
0 6px 16px 0 rgba(0, 0, 0, 0.08),
0 9px 28px 8px rgba(0, 0, 0, 0.05); // 浮层阴影
$inner-background: #fafafa; // 容器背景颜色
$animation-transition: all .25s;  // 动画过度属性

@mixin font-center($height) {
  height: $height;
  line-height: $height;
}

@mixin link-colors($normal, $hover, $visited) {
  color: $normal;
  &:hover { color: $hover; }
  &:visited { color: $visited; }
}

@media screen and (max-width: 600px) {
  .prompt-inner {
    width: 90% !important;
    left: 5% !important;
  }
}

.prompt {
  transition: $animation-transition;

  .prompt-mask {
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity .25s linear;
  }

  .prompt-hide { // 退出动画
      transform: rotate3d(1, 1, 0, 90deg)!important;
      opacity: 0;
  }

  .prompt-show{ // 出场动画
    opacity: 1;
  }
  .prompt-close-btn-hover {
      transform: rotate3d(1, 1, 0, 7deg);
      transition: all .5s!important;
  }
  .prompt-inner {
    display: block;
    position: absolute;
    z-index: 9999999999999999999999;
    width: 600px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 300px);
    background-color: $inner-background;
    border-radius: $border-radius-base;
    overflow: hidden;
    //transform: rotate3d(1,1,0,90deg);
    box-shadow: $box-shadow-base;
    transition: $animation-transition;
    .prompt-close-btn {
      z-index: inherit;
      position: absolute;
      top: 20px;
      right: 20px;
      width: 60px;
      height: 60px;
      cursor: pointer;

      &:hover>.prompt-close-icon::before,
      &:hover>.prompt-close-icon::after {
        background-color: $success-color;
      }

      .prompt-close-icon {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 20px;
        right: 20px;
        transition: $animation-transition;

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          height: 2px;
          width: 100%;
          top: 50%;
          left: 0;
          margin-top: -1px;
          background-color: rgb(180, 180, 180);
          transition: $animation-transition;
        }
      }
    }
    .prompt-title {
      position: relative;
      top: 60px;
      left: calc(50% - 117.5px);
      width: 235px;
      text-align: center;
      font-size: $font-size-base;
      color: $text-color;
      transition: $animation-transition;
      @include font-center(55px);
    }

    .prompt-content,
    .prompt-title {
      position: relative;
      width: 80%;
      left: 10%;
      top: 65px;
      text-align: center;
    }

    .prompt-content ,p {
      display: block;
      transition: $animation-transition;
      margin-block-end: 1em;
      margin-block-start: 1em;
      margin-inline-start: 0;
      margin-inline-end: 0;
      transform-origin: 50% -50%;
      font-family: "SourceHanSansCN", "\u601d\u6e90\u9ed1\u4f53", "Microsoft YaHei", "\u5fae\u8f6f\u96c5\u9ed1", "Helvetica Neue", Helvetica, Arial, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun;
      
      .prompt-content-version,
      .prompt-content-about {
        transform-origin: 50% -50%;
        color: $text-color-secondary;
      }

      .prompt-content-version {
        color: $text-color-secondary;
        font-size: 11px;
      }

      .prompt-content-about {
        color: $text-color;
        font-size: 12px;
      }
    }

    .prompt-content-main {
      z-index: 99999;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      text-align: left;
      height: 220px;
      margin: 0 auto;
      font-size: 11px;
      color: $text-color;
      line-height: 18px;
      overflow: auto;
      transition: $animation-transition;

      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-corner {
        background: none;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border: 3px solid transparent;
        background-clip: padding-box;
        border-radius: 5px
      }

      &::-webkit-scrollbar-track {
        opacity: 0
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #686868;
        outline-offset: -1px
      }

      .prompt-content-main-lastedittime>time {
        background: transparent;
      }

      .update-tag {
        position: relative;
        padding: 0 3px;

        margin: {
          left: 12px;
          right: 5px;
        }

        border-radius: 2px;
        color: white;
      }

      .update-tag.optimize {
        background-color: rgb(197, 168, 139);
      }

      .update-tag.optimize::after {
        content: '修正';
      }

      .update-tag.add {
        background-color: rgb(128, 180, 60);
      }

      .update-tag.add::after {
        content: '新たに';
      }

      .update-tag.improve {
        background-color: rgb(155, 197, 200);
      }

      .update-tag.improve::after {
        content: '改进';
      }

      .update-log {
        color: $text-color;
        line-height: 22px;
        text-align: left;
      }
    }
    .expanded {
      transform: scale(.8) translateY(-50px);
      transition: $animation-transition;
    }
  }
}

