<!--
 * @Author       : Jia Zeng
 * @LastEditTime : 2021-05-02 6:26 PM
-->

<!DOCTYPE html>
<html lang="zh-cmn" dir="ltr">

  <head>
    <meta charset="UTF-8">
    <title>原神地图 - Choose country or region</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="msappdivcation-navbutton-color" content="#ffffff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="lack-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Genshin Map">
    <meta name="format-detection" content="telephone=no" />
    <meta name="google" value="notranslate">
    <meta name="keywords" content="原神地図,Choose-country-region,Genshin,Genshin Impact Map" />
    <meta name="description" content="Choose-country-region - Genshin Map" />
    <!-- Open Graph -->
    <meta property="fb:app_id" content="3340670332825887" />
    <meta property="og:url" content="https://yuanshen.site/" />
    <meta property="og:title" content="原神地图" />
    <meta property="og:site_name" content="Genshin Impact Map" />
    <meta property="og:description" content="米游社空荧酒馆制作的原神全资源攻略地图。" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://yuanshen.site/tiles_test/4/ppp10_9.jpg" />
    <meta name="twitter:widgets:csp" content="on">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@yuanshen_site" />
    <meta name="twitter:image:src" content="https://yuanshen.site/tiles_test/4/ppp10_9.jpg" />
    <meta name="twitter:creator" content="@yuanshen_site" />
    <meta property="twitter:url" content="https://yuanshen.site/" />
    <meta property="twitter:type" content="website" />
    <meta property="twitter:title" content="原神地图" />
    <meta property="twitter:description" content="米游社空荧酒馆制作的原神全资源攻略地图。" />
    <meta property="twitter:image" content="https://yuanshen.site/tiles_test/4/ppp10_9.jpg" />
    <meta property="url" content="https://yuanshen.site/" />
    <meta property="type" content="website" />
    <meta property="title" content="原神地图" />
    <meta property="description" content="米游社空荧酒馆制作的原神全资源攻略地图。" />
    <meta property="image" content="https://yuanshen.site/tiles_test/4/ppp10_9.jpg" />
    <meta itemprop="name" content="原神地图" />
    <meta itemprop="description" content="米游社空荧酒馆制作的原神全资源攻略地图。" />
    <meta itemprop="image" content="https://yuanshen.site/tiles_test/4/ppp10_9.jpg" />
    <!-- Open Graph -->
    <link rel="canonical" href="https://yuanshen.site/" />
    <link rel="shortcut icon" href="https://yuanshen.site/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="https://yuanshen.site/favicon.ico" sizes="120x120" />
    <link rel="stylesheet" href="./css/global.min.css">
    <link rel="stylesheet" href="./css/choose-country-region/choose-country-region.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Noto+Sans+TC:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-5H6V3NB');</script>
    <!-- End Google Tag Manager -->
    <script src="./js/vue-3.0.11.global.prod.js"></script>
    <script src="./js/vue-i18n-9.1.6.global.prod.js"></script>
    <script>
      const globalConfig = {
        theme: {
          themeList: ["dark", "light"], // 主题列表
          defaultTheme: "light", // 默认主题
          autoTheme: true, // 自动切换主题 (即白天light 晚上dark
        },
        supportLocale: 'data/support-locale.json',
        resourceReloadingData: 'data/preload.json', // 资源预加载的数据url
        chooseCountryRegion: 'data/choose-country-region.json',
        defaultLanguage: 'en', // 如果用户浏览器主语言不在支持范围内, 回退的语言代码
      };

    </script>

    <head>

    <body data-theme="light">
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5H6V3NB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      <div class="wrapper" id="app">
        <header>
          <div class="header-container">
            <input type="checkbox" id="checkbox-menustate" class="checkbox-menustate">
            <nav class="topnav">
              <div class="topnav-container cover">
                <!-- 移动端侧边栏按钮Icon -->
                <label for="checkbox-menustate" class="menuicon-top" aria-hidden="true">
                  <span class="line-first"></span>
                  <span class="line-second"></span>
                  <span class="line-third"></span>
                </label>
                <a href="#checkbox-menustate" role="button" class="menuanchor-open">Open Menu</a>
                <a href="#" role="button" class="menuanchor-close">Close Menu</a>
                <h1 class="logo">
                  <a href="https://yuanshen.site/">{{ $t("message.title") }}</a>
                </h1>
                <ul class="topnav-list">
                  <li class="topnav-list-item">
                    <a href="#" class="link arrow">{{ $t("message.language") }}</a>
                    <select id="selectLanguage" :size="langs.length<5?4-langs.length:5" v-model="locale">
                      <option v-for="(lang, i) in langs" :key="`langs${i}`" :lang="lang.code" :value="lang.code" :disabled="$i18n.locale===lang.code" v-text="lang.name">
                      </option>
                    </select>
                  </li>
                  <li class="topnav-list-item">
                    <a href="https://support.qq.com/products/321980" target="_blank" class="link">
                      {{$t("message.feedback")}}
                    </a>
                  </li>
                </ul>
            </nav>
            <nav role="navigation" class="subhead">
              <div class="subhead-container">
                <h2>
                  <a href="#">
                    {{$t("message.cycor")}}
                  </a>
                </h2>
              </div>
            </nav>
          </div>
        </header>
        <main>

          <div class="main-container cover">
            <div class="section-container">
              <section v-once v-for="(locale, i) in countryRegion" :key="`locale${i}`" class="section-content">
                <h2 class="category-title"> {{locale.type}} </h2>
                <ul class="category-sections">
                  <li class="category-item" v-for="(map, x) in locale.map">
                    <a :href="`#${map.code}`" :class="map.code">
                      <span v-text="map.name" :dir="map.code.includes('ar')?'rtl':''" :lang="map.code">
                      </span>
                    </a>
                  </li>
                </ul>
              </section>
            </div>
          </div>
        </main>
        <!-- <footer>
        <div class="footer-container cover">
          <div class="annotation">
          
          </div>
          <nav>
            <ul>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
            </ul>
          </nav>
        </div>
      </footer> -->
      </div>
      <script type="module">
        import { DynamicTheme, ResourceReloading } from "./js/module.js";
        import * as utils from "./js/utils.js";

        (async () => {
          const { countryRegion, locale } = await utils.request(globalConfig.chooseCountryRegion).catch(error => console.log(error));
          const supportLocale = await utils.request(globalConfig.supportLocale).catch(error => console.error(error));
          const userLocaleData = utils.getSupperLocale(supportLocale.support, globalConfig.defaultLanguage);
          const i18n = VueI18n.createI18n({
            locale: new URLSearchParams(new URL(location.href).search).get("lang") || userLocaleData.code, // set locale
            fallbackLocale: globalConfig.defaultLanguage,                                                  // set fallback locale
            messages: locale.message,                                                                      // set locale messages
          });
          const app = Vue.createApp({
            data() {
              return {
                countryRegion: countryRegion,
                langs: [],
                locale: this.$i18n.locale
              }
            },
            created() {
              // get supportLanguage List
              for (const prop in locale.message) {
                if (locale.message.hasOwnProperty(prop)) this.langs.push({ code: prop, name: locale.message[prop].name });
              }

              // DynamicTheme
              this.DynamicTheme = new DynamicTheme(globalConfig.theme.themeList);
            
              // replace
              window.addEventListener('hashchange', function () {
                const link = getSupperReplaceLink(location.hash.replace("#", ""));
                if (link) {
                  document.location.replace(`https://yuanshen.site/${link}`);
                } else {
                  const tips = `This area is not currently supported.\n You can go to https://yuanshen.site/index_${globalConfig.defaultLanguage}.html`;
                  if (window.confirm(tips)) document.location.replace(`https://yuanshen.site/index_${globalConfig.defaultLanguage}.html`);
                }
              }, false);
              function getSupperReplaceLink(lang) {
                let result = "";
                supportLocale.support.forEach((val) => {
                  if (val.node) {
                    for (let i = 0; i < val.node.length; i++) {
                      if (val.node[i].code === lang) {
                        result = val.node[i].link;
                      }
                    }
                  }
                  for (let i = 0; i < val.code.length; i++) {
                    if (val.code[i] === lang) {
                      result = val.link;
                    }
                  }
                });
                return result;
              }
            },
            watch: {
              locale(val) {
                this.$i18n.locale = val;
                utils.setURL('lang',val);
                val.includes("ar") ? document.documentElement.setAttribute('dir', "rtl") : document.documentElement.setAttribute('dir', "ltr");
                document.documentElement.setAttribute('lang', val);  
              }
            },
            mounted() {
              this.$nextTick(function () {
                new ResourceReloading(globalConfig.resourceReloadingData).init().then((res) => {
                  console.log("✔ 资源预加载以完成");
                });
              });
            }
          });
          app.use(i18n)
          app.mount("#app");
          utils.log(
            "原神地图", "地区选择页",
            [{ pageVersion: "1.1.0", vueVersion: "3.0.11",lastEditTime: "2021-5-2" }]
          );
        })();
      </script>
    </body>

</html>
