.switch-btn
{
    z-index: 9996;
    position: fixed;
    top: 16.5%;
    left: 2%;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.panel-table
{
    z-index: 9997;
    position: fixed;
    top: 20%;
    left: 2%;
    width: 600px;
    height: 300px;
    background: #ffffff;
    overflow: hidden scroll;
}
.tname
{
    margin: 5px auto 0 10px;
}
.data-table
{
    margin: 25px auto 0;
    font-size: 14px;
    width: 80%;
}
.data-table,.data-table tr,.data-table td
{
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}
.data-table td
{
    padding: 3px;
}
.x-coord,.y-coord
{
    display: block;
}
.table-options-operation a
{
    display:inline-block;
}
.item-select
{
    margin: 10px;
}
.table-options-name
{
    width: 85px;
}
.table-options-id
{
    width: 20px;
}
#modify_window .dia-con,#add_window .dia-con
{
    position: relative;
    width: 500px;
    height: 250px;
    background:#fff
}
.dev-close
{
    position: absolute;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    top: 0;
    right: 0;
    font-size: 36px;
}
#modify_window .options-div,#add_window .options-div
{
    width: 90%;
    margin: 20px auto 0;
}
.form-options
{
    display: flex;
    margin-bottom: 15px;
}
.modify-window-input
{
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.marker-correct-btn
{
    position: absolute;
    right: 10px;
    top: 115px;
    font-size: 25px;
}
.marker-del-btn
{
    position: absolute;
    right: 10px;
    top: 73px;
    font-size: 24px;
}
.add-panel
{
    display: none;
    position: absolute;
    top: 35px;
    right: 10px;
}
.add-span
{
    display: block;
}
.add-method
{
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
.add-name-input,.add-des-input
{
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 5px;
}
.add-title,.add-des
{
    font-size: 24px;
}
.modify-submit-btn
{
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}