@font-face {
    font-family: font;
    src: url(hywh_thin.ttf);
}

html,
body,
#map {
    height: 100%;
}

.leaflet-control-layers-expanded {
    padding: 0px;
    margin: 0px;
    width: 260px;
}

.leaflet-control-layers {
    position: absolute;
    top: 0;
    /* right: 0px; */
    right: -1000px;
}

/* 单机下载样式 */
.danjixiazai {
    display: block;
    position: absolute;
    top: 0;
    left: 10vw;
    background: url(../imgs/con_img/danjixiazai.png) no-repeat center top;
    background-size: contain;
    width: 50vw;
    height: 50px;
    z-index: 999;
    cursor: pointer;
}

/* 地图筛选器样式 */
.hd {
    display: block;
    text-indent: -9999px;
    color: rgba(0, 0, 0, 0);
}

.person-div {
    position: absolute;
    display: flex;
    width: 373px;
    height: 50px;
    top: 19px;
    left: 34px;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
}

.reg_log_link {
    width: 153px;
    height: 50px;
    background: url(../imgs/con_img/log_reg.png) no-repeat;
}

.save-btn {
    width: 40px;
    height: 50px;
    background: url(../imgs/con_img/save.png) no-repeat;
    z-index: 200;
}

.save-btn.disable {
    opacity: 1;
}

.topLine {
    position: absolute;
    width: 385px;
    height: 1px;
    top: 76px;
    left: 21px;
    background-color: rgba(43, 64, 83, 0.2);
    z-index: 200;
}

.control-containor {
    position: fixed;
    z-index: 400;
    top: 0;
    right: -415px;
    width: 431px;
    height: 912px;
    font-family: font;
    transform-origin: 0% 0% 0;
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    /*兼容-webkit-引擎浏览器*/
    -moz-transform: scale(0.75);
    /*兼容-moz-引擎浏览器*/
}

.Background {
    position: absolute;
    width: 431px;
    height: 912px;
    z-index: 100;
    top: 0;
    right: 0;
}

.con-type-label-containor {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 376px;
    top: 96px;
    left: 33px;
    cursor: pointer;
    z-index: 200;
}

.con-type-label {
    width: 114px;
    height: 50px;
    background: linear-gradient(270deg, #FFFFFF -95.11%, rgba(255, 255, 255, 0) 401.72%), #F0E9E2;
    border: 0.5px solid #D2C6BB;
    box-sizing: border-box;
    border-radius: 2px;
    color: #000;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    margin-right: 11px;
    margin-bottom: 11px;
}

.con-type-label.on {
    color: #fff;
    background: linear-gradient(270deg, rgba(171, 143, 119, 0.5) -46.99%, rgba(143, 110, 76, 0.5) 198.5%), #AB8F77;
}

.area-list-containor {
    position: absolute;
    display: none;
    top: 286px;
    left: -129px;
    width: 158px;
    height: auto;
}

.area-list-li-containor {
    position: relative;
    display: block;
    width: 158px;
    height: 68px;
    margin-bottom: 12px;
    z-index: 200;
}

.area-list-li-containor.off {
    z-index: 0;
}

.area-list-li-containor.undone {
    cursor: not-allowed;
    margin-left: 77px !important;
    z-index: 0;
}

.area-list-li-containor.undone .area-img {
    opacity: 0.7;
}

.area-list-li-containor.undone .area-text {
    display: none;
}

.area-img {
    width: 156px;
    height: 68px;
}

.mengde {
    background: url(../imgs/con_img/mengde.png) no-repeat;
}

.liyue {
    background: url(../imgs/con_img/liyue.png) no-repeat;
}

.daoqi {
    background: url(../imgs/con_img/daoqi.png) no-repeat;
}

.zhidong {
    background: url(../imgs/con_img/zhidong.png) no-repeat;
}

.xumi {
    background: url(../imgs/con_img/xumi.png) no-repeat;
}

.fengdan {
    background: url(../imgs/con_img/fengdan.png) no-repeat;
}

.munata {
    background: url(../imgs/con_img/munata.png) no-repeat;
}

.mengde.on {
    background: url(../imgs/con_img/mengde-on.png) no-repeat;
}

.liyue.on {
    background: url(../imgs/con_img/liyue-on.png) no-repeat;
}

.daoqi.on {
    background: url(../imgs/con_img/daoqi-on.png) no-repeat;
}

.zhidong.on {
    background: url(../imgs/con_img/zhidong-on.png) no-repeat;
}

.xumi.on {
    background: url(../imgs/con_img/xumi-on.png) no-repeat;
}

.fengdan.on {
    background: url(../imgs/con_img/fengdan-on.png) no-repeat;
}

.munata.on {
    background: url(../imgs/con_img/munata-on.png) no-repeat;
}

.area-text {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: 60px;
    text-indent: 66px;
    font-size: 24px;
    color: #666666;
}

.area-list-li-containor.off .area-text {
    text-indent: 60px;
    color: #fff;
}

.options-containor {
    position: absolute;
    border-top: 1px solid rgba(0, 0, 0, 0);
    top: 285px;
    left: 33px;
    width: 365px;
    height: 593px;
    background: url(../imgs/con_img/border.png) no-repeat;
    background-size: 100% 100%;
    z-index: 200;
}

.options-list {
    margin: 46px 16px 46px 22px;
    height: 505px;
    padding-right: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.options-list::-webkit-scrollbar {
    opacity: 0.3;
    background: none;
    width: 4px;
}

.options-list::-webkit-scrollbar-thumb {
    opacity: 0.3;
    background: #ab8f773f;
    border-radius: 1px;
}

.options-list .map-opts {
    position: relative;
    display: block;
    width: 266px;
    height: 74px;
    background: linear-gradient(270deg, #FFFFFF -95.11%, rgba(255, 255, 255, 0) 100%), #F0E9E2;
    margin: 0 0 10px 37px;
    border-radius: 2px;
    line-height: 74px;
    text-indent: 53px;
    font-size: 24px;
    border: 1px solid #D2C6BB;
    box-sizing: border-box;
    cursor: pointer;
    color: #78583D;

}

.options-list .map-opts.on {
    background: linear-gradient(270deg, rgba(171, 143, 119, 0.5) -46.99%, rgba(143, 110, 76, 0.5) 198.5%), #AB8F77;
    color: #F2F0EE;
}

.img-border {
    position: absolute;
    top: -1px;
    left: -37px;
    width: 79px;
    height: 79px;
    background: url(../imgs/con_img/img-border.png) no-repeat;
    background-size: 100% 100%;
}

.map-opts-icon {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 2px;
    left: 2px;
}

.bottom-rules {
    z-index: 99999;
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
    height: auto;
}

.disclaimer {
    position: relative;
    left: 0;
    bottom: 0;
    color: #0078A8;
    font-size: 12px;
    padding: 1px 5px;
    background: rgba(255, 255, 255, 0.7)
}

.disclaimer:hover {
    text-decoration: underline;
}

.bottom-beian {
    position: absolute;
    z-index: 99999;
    bottom: 0;
    left: 50%;
    width: auto;
    height: auto;
}

.beian {
    position: relative;
    left: -50%;
    float: left;
    bottom: 0;
    color: #0078A8;
    font-size: 12px;
    padding: 1px 5px;
    background: rgba(255, 255, 255, 0.7)
}

.beian:hover {
    text-decoration: underline;
}

.fold-btn {
    /* display: none; */
    position: absolute;
    top: 96px;
    left: -77px;
    width: 95px;
    height: 82px;
    background-image: url(../imgs/con_img/fold.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 200;
}

.selector-list-containor {
    position: absolute;
    display: flex;
    top: 226px;
    left: 34px;
    width: 365px;
    height: 47px;
    overflow-y: hidden;
    overflow-x: scroll;
    z-index: 200;
}

.selector-hint {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
}

.selector-list-containor .opt-selector {
    flex-shrink: 0;
    position: relative;
    padding-right: 30px;
    line-height: 38px;
    height: 36px;
    background: #A4866C;
    border-radius: 15px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: font;
    text-indent: 10px;
    margin: 0 5px 5px 0;
    cursor: pointer;
}

.selector-list-containor::-webkit-scrollbar {
    opacity: 0.3;
    height: 5px;
    background: none;
}

.selector-list-containor::-webkit-scrollbar-thumb {
    opacity: 0.3;
    background: #ab8f7741;
    border-radius: 1px;
}

.opt-selector-close {
    position: absolute;
    top: 8px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: url(../imgs/con_img/icon_close.png) no-repeat;
    background-size: 100% 100%;
}

.myPopTitle {
    display: inline-block;
    position: relative;
    flex-direction: column;
    padding: 0px;
    left: 17px;
    margin-top: 14px;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3));
}

.myPopName {
    position: block;
    font-family: font;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 100%;
    color: #4B5368;
    order: 0;
    margin:  2px 0;
}

.myPopLine {
    display: inline-block;
    position: relative;
    width: 312px;
    height: 0px;
    left: 17px;
    margin-top: 15px;
    border: 1px solid #E1D5BF;
}

.myPopComment {
    display: block;
    position: relative;
    width: 100%;
    margin: 14px 0 0 0;
    padding: 0 17px;
    font-family: font;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    align-items: center;
    color: #4B5368;
    cursor: pointer;
}

.myPopComment span {
    display: inline-block;
    margin-right: 10px;
}

.Select {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 14px;
    top: 50%;
    margin-bottom: 2px;
    transform-origin: 50% 50% 0;
    transition: transform 0.5s;
}

.myPopComment.disable img {
    transform: rotate(-180deg);
    opacity: 0.2;
}

.myPopPicture {
    position: relative;
    overflow: hidden;
    width: 312px;
    height: 326px;
    margin: 0 auto;
}

.myPopPicture.disable {
    height: 0;
}

.myPopPicture img {
    display: inline-block;
    margin-top: 14px;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 9px;
}

.tipcard {
    position: absolute;
    background: url("../imgs/con_img/tips.png") no-repeat;
    background-size: contain;
    background-position: center bottom;
    width: 150px;
    height: 46px;
    left: 50%;
    bottom: -36px;
    pointer-events: none;
    margin-left: -75px;
}

.leaflet-popup-content-wrapper {
    display: inline-block;
    position: absolute;
    width: 353px;
    left: -176.5px;
    bottom: 0px;
    border-radius: 14px;
    background: #F0E9E2;
    border: 4px solid transparent;
    border-color: rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
    cursor: default;
    transform-origin: 50% 100% 0;
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    /*兼容-webkit-引擎浏览器*/
    -moz-transform: scale(0.6);
    /*兼容-moz-引擎浏览器*/
}

.leaflet-popup-content {
    display: inline-block;
    width: 100% !important;
    margin: 0;
    clear: both;
}

.leaflet-popup-tip {
    background: #F0E9E2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
}

.leaflet-popup-tip-container {
    top: -3px;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
    opacity: 0;
    pointer-events: auto;
}

.myPopClose {
    position: absolute !important;
    right: 20px !important;
    top: 18px !important;
    background: url(../imgs/con_img/popClose.svg) no-repeat;
    background-size: contain;
    box-sizing: border-box !important;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.myPopSwitchTodo {
    position: relative;
    width: 311px;
    height: 40px;
    border-radius: 22px;
    border: 2px solid #C5B79D;
    cursor: pointer;
    order: 1;
    margin: 17px auto;
}

.myPopSwitchDone {
    position: relative;
    width: 311px;
    height: 40px;
    border-radius: 22px;
    border: 2px solid #C5B79D;
    cursor: pointer;
    order: 1;
    margin: 17px auto;
}

.switchOff{
    position: absolute;
    width: 80px;
    letter-spacing:4px;
    font-family: font;
    font-size: 16px;
    font-weight: bold;
    color: #C5B79D;
    margin: 0 !important;
    line-height: 36px;
    left: 50px;
}

.switchOn{
    position: absolute;
    width: 80px;
    letter-spacing:4px;
    font-family: font;
    font-size: 16px;
    font-weight: bold;
    color: #C5B79D;
    margin: 0 !important;
    line-height: 36px;
    right: 25px;
}

.myPopSwitchTodo .switchButton{
    position: relative;
    width: 151px;
    height: 30px;
    border-radius: 22px;
    background-color: #CFBFA4;
    border: 2px solid #A69678;
    top: 3px;
    left: 3px;
    transition-property: left,background-color,border;
    transition-duration: 0.5s, 0.5s,0.5s;
}

.myPopSwitchDone .switchButton{
    position: relative;
    width: 151px;
    height: 30px;
    border-radius: 22px;
    background-color: #30A3B9;
    border: 2px solid #21707F;
    top: 3px;
    left: 153px;
    transition-property: left,background-color,border;
    transition-duration: 0.5s, 0.5s,0.5s;
}

.myPopSwitchTodo .switchButtonIcon{
    position: relative;
    width: 16px;
    height: 16px;
    background: url(../imgs/con_img/icon_not.svg) no-repeat;
    background-size: contain;
    top: 5px;
    left: 5px;
    transition-property: background;
    transition-duration: 0.5s;
}

.myPopSwitchDone .switchButtonIcon{
    position: relative;
    width: 16px;
    height: 16px;
    background: url(../imgs/con_img/icon_find.svg) no-repeat;
    background-size: contain;
    top: 5px;
    left: 5px;
    transition-property: background;
    transition-duration: 0.5s;
}

.switchButtonIcon p{
    position: absolute;
    width: 80px;
    letter-spacing:4px;
    font-family: font;
    font-size: 16px;
    font-weight: bold;
    top: -2px;
    left: 45px;
    color: white;
    margin: 0;
}

.leaflet-shadow-pane .iconKW {
    transform: rotate(45deg);
}

@media screen and (max-width: 750px) {
    .leaflet-popup-content-wrapper {
        transform-origin: 50% 100% 0;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        /*兼容-webkit-引擎浏览器*/
        -moz-transform: scale(0.5);
        /*兼容-moz-引擎浏览器*/
    }
}