/* 初始化地图样式，字体 */
@font-face {
    font-family: font;
    src: url(hywh_thin.ttf);
}
html,
body,
#map {
    height: 100%;
}
.leaflet-control-layers-expanded {
    padding: 0px;
    margin: 0px;
    width: 260px;
}
.leaflet-control-layers 
{
    position: absolute;
    top: 0;
    /* right: 0px; */
    right: -1000px;
}
/* 地图筛选器样式 */
.hd {
    display: block;
    text-indent: -9999px;
    color: rgba(0, 0, 0, 0);
}
.control-containor
{
    position: fixed;
    z-index: 400;
    top: 0;
    right:-270px;
    width: 300px;
    height: 600px;
    background: url(../imgs/con_img/con_bg.png) no-repeat top right;
    background-size: 301px 600px;
    font-family: font;
}
.con-type-label-containor
{
    position: absolute;
    top: 110px;
    left: 21px;
    cursor: pointer;
}
.con-type-label
{
    width: 109px;
    height: 71px;
    line-height: 72px;
    margin-bottom:15px;
    display: none;
    color: #F2E9D7;
    font-size: 22px;
    text-align: center;
}
.lable1
{
    background: url(../imgs/con_img/classify1.png) no-repeat;
}
.lable2
{
    background: url(../imgs/con_img/classify2.png) no-repeat;
}
.lable3
{
    background: url(../imgs/con_img/classify3.png) no-repeat;
}
.lable4
{
    background: url(../imgs/con_img/classify4.png) no-repeat;
}
.lable5
{
    background: url(../imgs/con_img/classify5.png) no-repeat;
}
.con-type-label.on
{
    width: 128px;
    height: 72px;
    margin-left:-10px;
    font-size: 25px;
    line-height: 67px;
    color: #866343;
    font-weight: bold;
}
.lable1.on
{
    background: url(../imgs/con_img/classify1-on.png) no-repeat;
}
.lable2.on
{
    background: url(../imgs/con_img/classify2-on.png) no-repeat;
}
.lable3.on
{
    background: url(../imgs/con_img/classify3-on.png) no-repeat;
}
.lable4.on
{
    background: url(../imgs/con_img/classify4-on.png) no-repeat;
}
.lable5.on
{
    background: url(../imgs/con_img/classify5-on.png) no-repeat;
}
.area-list-containor
{
    position: absolute;
    top: 40px;
    left: 150px;
    width: 245px;
    display: flex;
    justify-content: space-between;
}
.area-list-li-containor
{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    background: linear-gradient(270deg, #FFFFFF -95.11%, rgba(255, 255, 255, 0) 401.72%), #F0E9E2;
}
.area-list-li-containor.off
{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    background: linear-gradient(270deg, rgba(171, 143, 119, 0.5) -46.99%, rgba(143, 110, 76, 0.5) 198.5%), #AB8F77
}
.area-list-li-containor.undone
{
    opacity: 0.4;
    cursor:not-allowed;
    background:none;
}
.area-img1
{
    display: block;
    width: 23px;
    height: 28px;
    background:url(../imgs/l1-on.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px auto 0;
}
.area-img1.off
{
    display: block;
    width: 23px;
    height: 28px;
    background:url(../imgs/l1.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px auto 0;
}
.area-img2
{
    display: block;
    width: 25px;
    height: 28px;
    background:url(../imgs/l2-on.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 2.8px;
}
.area-img2.off
{
    display: block;
    width: 24px;
    height: 28px;
    background:url(../imgs/l2.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 2.8px;
}
.area-img3
{
    display: block;
    width: 24px;
    height: 28px;
    background:url(../imgs/l3-on.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 3.8px;
}
.area-img3.off
{
    display: block;
    width: 24px;
    height: 28px;
    background:url(../imgs/l3.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 3.8px;
}
.area-img4
{
    display: block;
    width: 24px;
    height: 28px;
    background:url(../imgs/l4-on.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 2.8px;
}
.area-img4.off
{
    display: block;
    width: 24px;
    height: 28px;
    background:url(../imgs/l4.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 2.8px;
}
.area-img5.on
{
    display: block;
    width: 24px;
    height: 28px;
    background:url(../imgs/l5-on.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 3.15px;
}
.area-img5.off
{
    display: block;
    width: 24px;
    height: 28px;
    background:url(../imgs/l5.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 3.15px;
}
.area-img6
{
    display: block;
    width: 24px;
    height: 28px;
    background:url(../imgs/l6-on.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 2.8px;
}
.area-img6.off
{
    display: block;
    width: 24px;
    height: 28px;
    background:url(../imgs/l6.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 2.8px;
}
.area-img7
{
    display: block;
    width: 24px;
    height: 28px;
    background:url(../imgs/l7-on.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 3.3px;
}
.area-img7.off
{
    display: block;
    width: 24px;
    height: 28px;
    background:url(../imgs/l7.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 3.3px;
}
.area-text
{
    position: absolute;
    top: -18px;
    display: block;
    width: 100%;
    font-size: 14px;
    text-align: center;
    font-family: font;
    color: #866343;
}
.options-containor
{
    position: absolute;
    border-top: 1px solid rgba(0, 0, 0, 0);
    top: 130px;
    right: 17px;
    width: 255px;
    height: 425px;
    background: url(../imgs/con_img/border.png) no-repeat;
    background-size: 100% 100%;
}
.options-list
{
    margin: 10px 0 0 18px;
    width: 85%;
    height: 90%;
    padding-right:10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.options-list::-webkit-scrollbar
{
    background:none;
    width: 4px;
}
.options-list::-webkit-scrollbar-thumb
{
    background: #AB8F77;
    border-radius: 1px;
}
.options-list .map-opts
{
    position: relative;
    display: block;
    width: 90%;
    height: 40px;
    margin:10px 0 10px 10%;
    background: linear-gradient(270deg, rgba(171, 143, 119, 0.5) -46.99%, rgba(143, 110, 76, 0.5) 198.5%), #AB8F77;
    border-radius: 2px;
    line-height: 40px;
    text-indent: 40px;
    cursor: pointer;
    color: #F2F0EE;
}
.options-list .map-opts.on
{
    background: linear-gradient(270deg, #FFFFFF -95.11%, rgba(255, 255, 255, 0) 100%), #F0E9E2;
    line-height: 39px;
    text-indent: 39px;
    border: 1px solid #D2C6BB;
    box-sizing: border-box;
    color: #78583D;
}
.img-border
{
    position: absolute;
    top: -3px;
    left: -13px;
    width: 48px;
    height: 48px;
    background: url(../imgs/con_img/img-border.png) no-repeat;
    background-size: 100% 100%;
}
.options-list .map-opts.on .img-border
{
    top: -4px;
    left: -14px;
}
.map-opts-icon
{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 5px;
    left: 5px;
}
.bottom-rules
{
    z-index: 99999;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 25px;
    background: rgba(255, 255, 255, 0.7)
}
.disclaimer
{
    position: absolute;
    left: 10px;
    top: 5px;
    color: #0078A8;
    font-size: 12px;
}
.fold-btn
{
    display: none;
    position: absolute;
    top: 40px;
    left: -50px;
    width: 66px;
    height: 57px;
    background:url(../imgs/con_img/fold.png) no-repeat;
    background-size: 100% 100%;
}
.selector-list-containor
{
    position: absolute;
    display: flex;
    top: 82px;
    left: 150px;
    width: 245px;
    height: 40px;
    overflow-y: hidden;
    overflow-x: scroll;
}
.selector-list-containor .opt-selector
{
    flex-shrink:0;
    position: relative;
    padding-right:25px;
    line-height: 32px;
    height: 30px;
    background: #A4866C;
    border-radius: 15px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-family: font;
    text-indent:10px;
    margin:0 5px 5px 0;
}
.selector-list-containor::-webkit-scrollbar
{
    height: 6px;
    background:none;
}
.selector-list-containor::-webkit-scrollbar-thumb
{
    background: #AB8F77;
    border-radius: 1px;
}
.opt-selector-close
{
    position: absolute;
    top: 8px;
    right: 5px;
    width: 14px;
    height: 14px;
    background:url(../imgs/con_img/icon_close.png) no-repeat;
    background-size: 100% 100%;
}
.myPopTitle {
	display: flex;
    flex-direction: column;
    padding: 0px;
    position: absolute;
    width: 271px;
    height: 77px;
    left: 14px;
    top: 14px;
}
.myPopName {
    position: static;
    width: 271px;
    height: 26px;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #4B5368;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 13px;
}
.myPopLine {
    position: absolute;
    width: 256px;
    height: 0px;
    left: 13px;
    top: 114px;
    border: 1px solid rgba(167, 138, 113, 0.2);
}
.myPopComment {	
    position: absolute;
    width: 271px;
    height: 41px;
    left: 14px;
    top: 115px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #4B5368;
}
.myPopPicture {
    position: absolute;
    width: 256px;
    height: 256px;
    left: 13px;
    top: 155px;
    border-radius: 5px;
}
.leaflet-popup-content-wrapper {
    position: absolute;
    width: 283px;
    height: 420px;
    left: 0px;
    top: 0px;
    background: #F0E9E2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 750px) {
    .leaflet-popup-content-wrapper {
        zoom: 0.6;
    }
}
.myPopClose 
{
    position: absolute !important;
    left: 86.12% !important;
    right: 5% !important;
    top: 2.75% !important;
    bottom: 89.75% !important;
    background: url(../imgs/con_img/popClose.png);
    box-sizing: border-box !important;
}
.myPopSwitchTodo
{
	position: static;
    width: 131px;
    height: 38px;
    left: 0px;
    top: 39px;
    background:url(../imgs/con_img/Todo.png);
    flex: none;
    order: 1;
    align-self: flex-start;
    margin: 10px 0px;
}
.myPopSwitchDone 
{
	position: static;
    width: 131px;
    height: 38px;
    left: 0px;
    top: 39px;
    background:url(../imgs/con_img/Done.png);
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: flex-start;
    margin: 10px 0px;
}